@font-face {
  font-family: 'HelveticaNeueCyr';
  src: url("./HelveticaNeueCyr Roman.ttf");
}
@font-face {
  font-family: 'HelveticaNeueCyrBold';
  src: url("./HelveticaNeueCyr Bold.ttf");
}
@font-face {
  font-family: 'HelveticaNeueCyrMedium';
  src: url("./HelveticaNeueCyr Medium.ttf");
}